<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project 3: Instagrid</title>
    <meta name="description" content="Instagrid">
    <meta name="author" content="Ross McKinnon">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body ng-app="project3" ng-controller="InstaController">
    <header>
      <img src="images/instagrid-logo.svg" alt="Instagrid Logo" title="Instagrid" />
    </header>
    <nav>
      <img src="images/instagrid-icon.svg" alt="Enter your search" title="Instagrid search" />
      <form ng-submit="getPhotos($event)" action="#" id="api-searchg">
        <div>
          <input ng-model="hashTagName" type="text" name="hashTag" id="hashTag" placeholder="Enter hash-tag to search" />
          <button id="submit-button"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </nav>
    <article>
      <img ng-hide="posts.length" src="images/search-tags.svg" alt="hash-tag search" title="" />
      <img ng-show="loading" src="images/ajax-loader.gif" alt="hash-tag search" title="" />
      <ul class="api-list">

        <li ng-repeat="post in posts">
          <img class="user-pic" ng-src="{{ post.images.standard_resolution.url }}" />
          <div class="metta-box">
            <div class="item1">
              <img ng-src="{{ post.user.profile_picture }}" />
            </div>
            <div class="item2"> {{ post.user.username }}
              <div class="item2a">
                <i class="fa fa-comments"> {{ post.comments.count }} </i>
                <i class="fa fa-heart"> {{ post.likes.count }} </i>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </article>
    <aside>
      <button class="uppercase">load more</button>
    </aside>
    <footer>
      <span>Copyright 2015 </span><span class="uppercase">instagrid</span>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
